body { margin: 0px;
	padding: 0px;
	background: #CEC7C4;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11pt;
	color: #3C1F13;
	line-height: 140%; }

.content { background: #FFFFFF url(img/bg_contentpages.jpg) no-repeat; 
	padding: 20px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 9pt;
	color: #3C1F13;
	line-height: 160%; }

.content td { font-size: 9pt; }

.footer { padding: 15px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 7pt;
	color: #3C1F13;
	line-height: 150%; }
	
	
a { color: #3C1F13;
	text-decoration: underline; }
a:hover { color: #e2007a;
	text-decoration: underline; }
	
	
.picture { background: #FFFFFF url(img/bg_contentpages.jpg) no-repeat; 
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 9pt;
	color: #3C1F13;
	line-height: 160%; }
p{
	padding: 0;
	margin: 0;
}